@charset "UTF-8";
/* CSS Document */

/* Skin */

.heading {
	font-family: 'Francois One', sans-serif;
	font-size:27pt;
}

.footer {
	font-size:8pt;
	font-family:Arial, Helvetica, sans-serif;
}

/* General */

p {
	font-family: 'Raleway', sans-serif;
	font-size:12pt;
	line-height:140%;
	
}

li { font-family:Verdana, Geneva, sans-serif;
	font-size:12pt;
}
	
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	color:e5ecf9;
}

h2 {
	font-family: 'Francois One', sans-serif;
	font-size:27pt;
}

h3 {
	font-family: 'Francois One', sans-serif;
	font-size:18pt;
}
	
p.big {
	line-height:125%
	}
	
li.bigbig {
	line-height:125%
}

a:link {color:#000;}      /* unvisited link */
a:visited {color:#000;}  /* visited link */
a:hover {color:#000;}  /* mouse over link */
a:active {color:#000;}  /* selected link */

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

a.hidden:link {color:#666;}      /* unvisited link */
a.hidden:visited {color:#666;}  /* visited link */
a.hidden:hover {color:#666;}  /* mouse over link */
a.hidden:active {color:#666;}  /* selected link */
a.hidden {font-size:9pt;}

a.reddit:link {color:#0000FF;}      /* unvisited link */
a.reddit:visited {color:#0000FF;}  /* visited link */
a.reddit:hover {color:#0000FF;}  /* mouse over link */
a.reddit:active {color:#0000FF;}  /* selected link */

a.link:link {color:#00C;}      /* unvisited link */
a.link:visited {color:#00C;}  /* visited link */
a.link:hover {color:#00C;}  /* mouse over link */
a.link:active {color:#00C;}  /* selected link */






reddit.a:link {color:#000;}